.dropdown-container {
  margin-left: 10px;
}

.dropdown-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #8a2be2;
  border-radius: 8px;
  background-color: #fff;
  color: #8a2be2;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
  width: 200px;
  max-height: 100px;
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.dropdown-select::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.dropdown-select:hover {
  background-color: #8a2be2;
  color: #fff;
}

.dropdown-select option {
  padding: 10px;
}
