.scrollWindow {
  max-height: 500px;
  overflow-y: scroll;
  width: 100%;
  max-width: 460px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
}

.QuesHeadingDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5px auto;
  border-radius: 15px;
  border: solid 2px blueviolet;
  position: fixed; /* Changed from fixed to sticky */
  top: 0;
  left: 10px;
  z-index: 10; 
  background-color: white; /* Adds a background to prevent content from showing through */
}

.QuestionsHeading {
  font-family: 'Kanit', serif;
  font-weight: 500;
  font-style: normal;
  color: blueviolet;
  margin: 10px 15px;
  font-size: 2rem;
}

.custom-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.custom-scroll::-webkit-scrollbar {
  display: none;
}
