.QuesHeadingDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
  border-radius: 15px;
  border: solid 2px blueviolet;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
}

.timer-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background-color: blueviolet;
  transition: width 1s linear;
  z-index: -1;
}
.QuestionsHeading {
  font-family: 'Kanit', serif;
  font-weight: 500;
  font-style: normal;
  color: blueviolet;
  margin: 10px 15px;
  font-size: 1.5rem;
}

.question-tile-container {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.flip-card {
  background-color: white;
  width: 100%;
  height: 380px;
  padding-top: 20px;

  border-radius: 15px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.flip-card-front {
  background-color: white;
  color: black;
  height: 380px;
}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  height: 350px;
  gap: 10px;
}

.flip-card-back p {
  margin-bottom: 10px; /* Add some spacing between paragraphs */
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

/* Responsive adjustments */
/* @media (max-width: 480px) {
  .QuesHeadingDiv {
    padding: 0 10px;
  }

  .QuestionsHeading {
    font-size: 1.5rem;
  }

  .flip-card {
    height: 300px;
  }
} */
.scrollable{
  overflow-y: scroll;
}