@import './styles/LandingPage.css';
@import './styles/PreviousQuestionTile.css';
body {
  display: flex;
  flex-direction: column;
  
  color: black;
  background-color: white;
  height: 600px;
  /* overflow: hidden; */
  width: 480px;
  margin: 0;
  padding: 0;
  background-image: url('https://www.transparenttextures.com/patterns/cubes.png');
}
