@import './styles/LandingPage.css';

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  background-color: white;
  height: 100vh;
  overflow: hidden;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

