@import './styles/LandingPage.css';


@import './styles/PreviousQuestionTile.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  background-color: white;
  height: 600px;
  width: 480px;
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
  background-image: url('https://www.transparenttextures.com/patterns/cubes.png');
}
